.app {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.app ul {
  padding-left: 50px;
  padding-right: 50px;
}
.app li {
  list-style-type: square;
  font-size: 18px;
}

.app p {
  font-size: 18px;
}

.app h1 {
  border-bottom: 2px solid #0074d9;
  margin-bottom: 8px;
  padding-bottom: 2px;
}

.app h2 {
  margin-top: 8px;
  font-weight: 300;
  font-style: italic;
  color: #595959;
}

.todolist {
  margin-top: 30px;
  border: 2px solid #0074d9;
  padding-top: 35px;
}

.todolist.notodos {
  padding-bottom: 15px;
}

.todolist h2 {
  font-weight: 400;
  margin-bottom: 40px;
  font-style: normal;
  color: black;
  text-align: center;
  text-decoration: underline;
}

.todolist p {
  padding-left: 30px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}

button, input {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}
input {
  width: 250px;
  height: 36px;
  border: 2px solid #0074d9;
  font-size: 18px;
}
button {
  margin-left: 10px;
  height: 36px;
  border: 2px solid #0074d9;
  background-color: #0074d9;
  color: white;
  border-radius: 4px;
  font-size: 20px;
}


.todo-input {
  margin-top: 30px;
  margin-bottom: 38px;
}

.footer {
  font-weight: 300;
}

a {
  text-decoration: none;
}
a:link {
  color: #0074d9;
}
a:visited {
  color: #0074d9;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #ff665d;
}
a.active-link {
  color: red;
  font-weight: bold;
}

.todolist-list {
  margin-bottom: 35px;
}

.github {
  font-weight: 300;
}

@media (max-width: 410px) {
  input {
    width: 100%;
  }
  button {
    margin-left: 0;
    margin-top: 15px;
  }
  .app ul {
    padding-left: 30px;
    padding-right: 15px;
  }
}
